$primary1: #3619da;
$primary2: #EE366E;

body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.head {
    display: grid;
    grid-template-columns: 14% 20.8% 30% 20% 15%;
    grid-template-rows: 250px;
    background-color: $primary1;
    justify-content: center;
    width: 100%;
}

    .head img {
        width: 90%;
    }

    .head .item {
        grid-column-start: 2;
        grid-column-end: 2;
        margin-top: 13%;
    }

    .head .thead {
        margin-right: auto;
        margin-left: auto;
        margin-top: 5%;
        grid-column-start: 4;
        grid-column-end: 4;
    }

    .head .item h3 {
        color: #ffffff;
        font-size: 35px;
        margin-bottom: 0;
    }

    .head .item p {
        color: #ffffff;
        font-size: 20px;
        margin-left: 0.8%;
    }


/*----------------------*/
/*#Form*/
/*----------------------*/


input {
    box-sizing: border-box;
    &::placeholder {
        font-weight: bold;
    }
}
#textarea{
    font-family: inherit;
    font-size: 0.9em;
    color: black;
    padding: 5px;
    box-sizing: border-box;
}
.flex-box {
    display: flex;
    justify-content: space-between;
    position: relative;
    .img-box {
        display: block;
        width: 50%;
        img {
            pointer-events: none;
            position: absolute;
            top: 70%;
            right: 0%;
            width: 120px;
            height: auto;
        }
    }
    @media (min-width: 1076px) {
        .img-box img{
            width: 180px;
            top: 40%;
        }
    }
}


/*----------------------*/
/*#Form*/
/*----------------------*/

#form {
/*Styling*/
    background-color: #EE366E;
/*Placemet*/
}
/*----------------------*/
/*#Field*/
/*----------------------*/

.field, textarea {
/*Styling*/
    width: 100%;
    border: 2px solid #000;
    margin-bottom: 3rem;
/*Placemet*/
    /*Positioning box*/
        position: relative;
}

/*----------------------*/
/*#Errors*/
/*----------------------*/

.field.error { border: 2px solid #ff1515; }

.field .error-circle {
/*Styling*/
    color: #ff1515;
/*Placemet*/
    /*Positioning box*/
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.4rem;
}

#emailError {
/*Styling*/
    display: none;
    font-size: .7rem;
/*Placemet*/
    /*Positioning box*/
        position: absolute;
        top: 0;
        transform: translateY(280%);
}


textarea {
    font-size: 1em;
}
/*----------------------*/
/*#Input*/
/*----------------------*/
.input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.4rem;
}

.label {
/*Styling*/
    padding: 0.4rem;
/*Placemet*/
    /*Positioning box*/
    position: absolute;
    top: 0;
    left: 0;
/*Transition*/
    color: #fff;
    transform: translateY(-100%);
    transition: transform 400ms;
}

input:placeholder-shown + .label {
/*Transition*/
    color: #000;
    transform: translateY(-10%);
    transition: transform 400ms;
}

/*----------------------*/
/*#Buttons*/
/*----------------------*/

button {
/*Styling*/
background: #3619da;
color: white;
border: none;
padding: 15px;
font-size: 16px;
font-weight: 600;
cursor: pointer;
/*Placemet*/
    /*Positioning box*/
        position: relative;
}

button:active,
button:hover {
/*Styling*/
    border: unset;
    background-color: #000;
    color: #FCFCFC;
}

/*----------------------*/
/*#Drop-Down*/
/*----------------------*/

.option-container { margin-bottom: 2rem; }

main { /*Form box main width/length of view*/
    width: 1200px;
    height: 800px;
    margin: 0 auto;
/*Placemet*/
    /*Flex*/
        display: flex;
        justify-content: center;
        align-items: center;
}

/*Placement/Position everything relative to form*/ 
form { position: relative; }

#form-drop {
    display: grid;
    grid-template-columns: 1fr auto;
    background: #FCFCFC;
}

.option-selector { /*Main selector for options (drop-down)*/
/*Customization drop-down box*/
    background-color: unset;
    border: 2px solid #000;
    padding: .4rem;
    -webkit-user-select: none;
/*Placemet*/
    /*Flex*/
        display: flex;
        justify-content: center;
        align-items: center;
    /*Positioning box*/
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
}

.option-selector > ion-icon {
    display: flex;
    justify-content: flex-end;
}

.select {
/*Placement Positioning box*/
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
/*Select grid customization, and styling*/
    /*Grid*/
        display: grid;
        grid-template-rows: repeat(3, 1fr);
    /*Styling*/
        background-color: #fcfcfc;
        width: inherit;
        -webkit-user-select: none;
}

.select > .option {
/*Styling*/
    background-color: unset;
    border: 2px solid #000;
    border-bottom: unset;
    padding: .4rem;
/*Placement*/
    /*Flex*/
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            background: rgb(218, 218, 218);
        }
}

.select > .option:last-child { border-bottom: 2px solid #000;}

.select > .option:first-child { border-top: unset; }

.select:last-child { margin-bottom: 2rem; }

/*Hover & Active state*/
.option:active, .option:hover { background-color: unset }
label:active, label:hover { cursor: pointer; }
ion-icon:active, ion-icon:hover { cursor: pointer; }

/*Display none toggle class (select)*/
.display-select { display: none }


