body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.head {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 14% 20.8% 30% 20% 15%;
      grid-template-columns: 14% 20.8% 30% 20% 15%;
  -ms-grid-rows: 250px;
      grid-template-rows: 250px;
  background-color: #3619da;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.head img {
  width: 70%;
}

.head .item {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 2;
  margin-top: 13%;
}

.head .thead {
  margin-right: auto;
  margin-left: auto;
  margin-top: -5%;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 4;
}

.head .item h3 {
  color: #ffffff;
  font-size: 35px;
  margin-bottom: 0;
}

.head .item p {
  color: #ffffff;
  font-size: 20px;
  margin-left: 0.8%;
}

.arrowContainer {
  position: relative;
  width: 100%;
}

.arrowContainer .previous,
.arrowContainer .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.arrowContainer .next {
  right: 0%;
}

.arrowContainer .previous {
  left: 3.5%;
}

.arrowContainer .previous:hover,
.arrowContainer .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.sliderContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  width: 100%;
  gap: 20px;
  margin: 20px;
}

.sliderContainer img {
  z-index: -1;
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  opacity: 1;
}

.sliderContainer .productContainer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sliderContainer .productContainer .card {
  display: inline-block;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
}

.sliderContainer .productContainer .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sliderContainer .productContainer .text {
  text-align: center;
}

.sliderContainer .productContainer p {
  color: rgba(0, 0, 0, 0.7);
}

.sliderContainer .productContainer h3 {
  color: #252525;
  text-transform: capitalize;
  padding: 8px 0 0;
  margin: 0;
}

.sliderContainer .productContainer h4 {
  color: #252525;
  font-weight: 600;
  margin: 0;
  text-transform: capitalize;
}
/*# sourceMappingURL=slider.css.map */