$primary1: #3619da;
$primary2: #EE366E;

body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background-color: $primary1;
    border-bottom: 1px $primary2 solid;
    }
    
    .Smile {
        background-color: transparent;
        color: $primary2;
    }

    h2 {
        width: 100px;
        position: absolute;
        font-size: 35px;
        margin-left: 14%;
        top: -2.6%;
        color: #ffffff;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-right: 22%;
      }

    ul li {
        display: block;
        position: relative;
        float: right;
        margin-top: 0.3%;
    }

    li ul {
        display: none;
    }

    ul li:hover {
        background-color: $primary2;
    }

    ul li a {
        display: block;
        padding: 11px 15px 11px 15px;
        text-decoration: none;
        color: #ffffff;
        font-size: 20px;
    }

    li:hover ul {
        display: block;
        position: absolute;
        
      }
      
      li:hover li {
        float: none;
        font-size: 11px;
        width: 130px;
      }
      
      li:hover a {
        background: $primary2;
      }
      
      li:hover li a:hover {
        background: #CC2658;
        transition: 0.2s;
      }

      .but {
          position: relative;
          padding: 5px;
          width: 100px;
          left: 79%;
          top: 18%;
          font-size: 19px;
          color: white;
          text-align: center;
          text-decoration: none;
          background-color: $primary2;
      }

      .but:hover {
        background-color: #CC2658;
        transition: 0.2s;
      }

      
.head {
    display: grid;
    grid-template-columns: 14% 20.8% 30% 20% 15%;
    grid-template-rows: 250px;
    background-color: $primary1;
    justify-content: center;
    width: 100%;
}

    .head img {
        width: 60%;
    }

    .head .item {
        grid-column-start: 2;
        grid-column-end: 2;
        margin-top: 13%;
    }

    .head .thead {
        margin-right: auto;
        margin-left: auto;
        margin-top: 0;
        grid-column-start: 4;
        grid-column-end: 4;
    }

    .head .item h3 {
        color: #ffffff;
        font-size: 35px;
        margin-bottom: 0;
    }

    .head .item p {
        color: #ffffff;
        font-size: 20px;
        margin-left: 0.8%;
    }


.sgrid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-column-gap: 70px;
    grid-row-gap: 70px;
    grid-template-rows: auto auto;
    justify-content: center;
    width: 100%;
    margin-top: 3%;

    img {
        width: 60%;
    }

    .img1 {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-top: 10%;
    width: 70%;
    }

    .img2 {
    grid-column-start: 3;
    grid-column-end: 5;
    margin-left: 20%;
    margin-top: 15%;
    width: 100%;
    }

    .item1 {
    grid-column-start: 4;
    grid-column-end: 5;
    }

    .item2 {
        margin-top: 20%;
    grid-column-start: 2;
    grid-column-end: 3;
    }

    h3 {
        font-size: 35px;
        margin-bottom: 0;
        font-weight: bold;
    }

    p {
        font-size: 20px;
        margin-left: 0.8%;
    }

}




     /* Footer */
.footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 200px;
        grid-template-rows: 200px;
    -ms-grid-columns: 350px 350px 350px;
        grid-template-columns: 350px 350px 350px;
        grid-template-areas: "item-a, item-b, item-c";
    grid-column-gap: 200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: $primary1;
    margin-top: 7%;
    color: #ffffff;
  }
  
  .footer h3 {
    font-size: 25px;
  }
  
  .footer p {
    font-size: 18px;
  }
  
  .footer .item-a {
    margin-top: 3%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .footer .item-b {
    margin-top: 3%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .footer .item-c {
    margin-top: 3%;
    margin-right: auto;
    margin-left: auto;
  }